// Colors
$enorganico-primary-color:         #EDE0D7 !default;
$enorganico-secondary-color:       #693B00 !default;

$enroganico-high-accent-color:     #A4671F !default;
$enroganico-middle-accent-color:   #D39B5E !default;
$enorganico-low-accent-color:      #DCBA8C !default;

$enorganico-white-color:           #FFFFFF !default;
$enorganico-black-color:           #000000 !default;

// Colors - CSS Variables
:root {
  --enorganico-primary-color:         #EDE0D7;
  --enorganico-secondary-color:       #693B00;

  --enorganico-high-accent-color:     #A4671F;
  --enorganico-middle-accent-color:   #D39B5E;
  --enorganico-low-accent-color:      #DCBA8C;

  --enorganico-white-color:           #FFFFFF;
  --enorganico-black-color:           #000000;
}

// Font weights
:root {
  --enorganico-font-weight-thin:        100;
  --enorganico-font-weight-extralight:  200;
  --enorganico-font-weight-light:       300;
  --enorganico-font-weight-regular:     400;
  --enorganico-font-weight-medium:      500;
  --enorganico-font-weight-semibold:    600;
  --enorganico-font-weight-bold:        700;
  --enorganico-font-weight-extrabold:   800;
  --enorganico-font-weight-black:       900;
}