@use '../abstracts/variables' as *;

/* Header */

.navbar-toggler-icon {
  background-image: none !important;
  mask: none !important;
}

.o_header_mobile {
  i, svg {
    &::before {
      font-size: clamp(2rem, 2.5vw, 1.25rem);
      line-height: 100%;
      color: var(--enorganico-primary-color);
    }
  }
}

.o_no_autohide_menu.o_header_fixed.o_top_fixed_element.o_header_is_scrolled.o_header_affixed {
  .o_header_mobile {
    i, svg {
      &::before {
        font-size: clamp(2rem, 2.5vw, 1.25rem);
        line-height: 100%;
        color: var(--enorganico-secondary-color);
      }
    }
  }
}

ul.o_header_hamburger_right_col {
  li {
    a {
      border-radius: 50px !important;
      padding: 5px 10px !important;

      &::after {
        color: var(--enorganico-secondary-color);
      }
      
      i, svg {
        width: auto !important;
        height: auto !important;

        &::before {
          font-size: clamp(1rem, 2.5vw, 1.25rem);
          line-height: 100%;
          color: var(--enorganico-secondary-color);
        }
      }
    }
  }
}

#wrapwrap.o_header_overlay>header:not(.o_header_affixed):not(.o_header_sidebar):not(.o_top_menu_collapse_shown)>.navbar  {

  button {
    background-image: none !important;
    mask: none !important;
    box-shadow: unset !important;

    .navbar-toggler-icon {
      &::before {
        background: var(--enorganico-primary-color);

        box-shadow:
          0 calc(-1 * var(--enorganico-hamburguer-gap)) 0 0 var(--enorganico-primary-color),
          0 var(--enorganico-hamburguer-gap) 0 0 var(--enorganico-primary-color);
      }
    }
  }

  ul.o_header_hamburger_right_col {
    li {
      a {
        border-radius: 50px !important;
        padding: 5px 20px !important;

        &::after {
          color: var(--enorganico-primary-color);
        }
        
        i, svg {
          width: auto !important;
          height: auto !important;

          &::before {
            font-size: clamp(1rem, 2.5vw, 1.25rem);
            line-height: 100%;
            color: var(--enorganico-primary-color);
          }
        }

        ~ .dropdown-menu {
          padding: 1rem .5rem;

          .dropdown-item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: .75rem;
            line-height: 0.75rem;

            i, svg {
              width: 30px !important;
              color: var(--enorganico-primary-color);
            }
          }
        }
      }
    }
  }  
}

.navbar-toggler:focus { box-shadow: unset !important; }

/* Footer */
.o_footer_copyright {
  display: none;
}