---
import Carousel2 from './comps/Carousel-2.astro';
---

<section id="carousel-product-2" class="enorganico enorganico-carousel enorganico-carousel-product-2 w-full bg-[url(https://cement-design.doodrix.com/web/image/26890-3ee16ca3/section-carousel-2.webp)] bg-cover">
  <div class="container-fluid px-0">
    <div class="row">
      <div class="col-12 pb-md-5 pt-5">
        <div class="enorganico-product-carousel__content text-center">
          <h2 class="text-base! md:text-2xl! block max-w-[100%] enorganico-text-secondary enorganico-font-weight-blacked m-auto w-75 w-md-50 ">Nuestro Café de Especialidad</h2>
          <p class="mt-2 enorganico-text-darck w-[75%]! md:w-[50%]! w-md-50 m-auto">Ofrecemos el mejor café de especialidad de la mano de nuestro proveedor principal, Puchero. Cada grano se selecciona con cuidado para brindarte una taza llena de aroma y carácter.</p>
        </div>
      </div>

      <div class="col-10 offset-1 offset-md-0 enorganico-product-carousel__carousel d-flex items-center pt-md-5">
        <Carousel2 /> 
      </div>
    </div>
  </div>
</section>