---
import CarouselProduct from '../CarouselProduct.astro';
---

<section id="carousel-product-2" class="enorganico enorganico-carousel-product-2 w-full h-screen enorganico-bg-primary">
  <div class="container-fluid px-0">
    <div class="row">
      <div class="col-12">
        <div class="enorganico-product-carousel__content text-center py-25!">
          <h2 class="text-2xl enorganico-text-secondary enorganico-font-weight-blacked w-250! m-auto"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. </h2>
          <p class="mt-2 enorganico-text-darck w-250! m-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam modi necessitatibus repudiandae cum? Animi quisquam praesentium dolorum suscipit vero maxime doloribus porro quaerat iste laudantium.</p>
        </div>
      </div>

      <div class="col-10 enorganico-product-carousel__carousel h-80! d-flex items-center pt-20!">
        <CarouselProduct /> 
      </div>
    </div>
  </div>
</section>