<section id="infinite-slider" class="enorganico enorganic-infinite-slider">
  <div class="container-fluid px-0">
    <div class="row">
      <div class="col-12">
        <div class="enorganico-slider">
          <div class="enorganico-slider__track">
            <div class="enorganico-slider__track--item item-slider">
              <span>Espresso Clasico</span>
            </div>
            <div class="enorganico-slider__track--item item-slider">
              <span>Cafe Gourmet</span>
            </div>
            <div class="enorganico-slider__track--item item-slider">
              <span>Un croissant gratis con tu latte</span>
            </div>
            <div class="enorganico-slider__track--item item-slider">
              <span>Tradicion Española</span>
            </div>
            <div class="enorganico-slider__track--item item-slider">
              <span>Suscribete y tu primer cafe va por la casa</span>
            </div>
            <div class="enorganico-slider__track--item item-slider">
              <span>Despierta tus sentidos</span>
            </div>
            <div class="enorganico-slider__track--item item-slider">
              <span>2x1 en espresso por la mañana</span>
            </div>
            <div class="enorganico-slider__track--item item-slider">
              <span>Del grano a tu taza</span>
            </div>
            <div class="enorganico-slider__track--item item-slider">
              <span>Mas cafe, una experiencia</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script is:inline>
  const track = document.querySelector('.enorganico-slider__track');
  const slides = Array.from(track.children);

  slides.forEach(slide => {
    const clone = slide.cloneNode(true);
    track.appendChild(clone);
  });
</script>

<style lang="scss">
  .enorganico {
    &#infinite-slider {
      width: auto;
      min-width: 100%;
      overflow: hidden;
    }

    &-slider {
      height: 50px;
      display: flex;
      align-items: center;
      color: var(--enorganico-white-color);
      background-color: var(--enorganico-middle-accent-color);
      font-size: 1.25rem;
      font-weight: var(--enorganico-font-weight-medium);

      &__track {
        display: flex;
        width: max-content;
        animation: scroll 20s linear infinite;

        .item-slider {
          flex: 0 0 auto;
          padding: 0 3rem;
          position: relative;

          &::before {
            content: "·";
            position: absolute;
            top: -50%;
            left: 0%;
            transform: translateX(-50%, 50%);
            font-size: 2rem;
            font-weight: var(--enorganico-font-weight-black);
          }
        }

        @keyframes scroll {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-50%);
          }
          
        }
      }
    }
  }
</style>