<section id="gallery" class="enorganico enorganico-gallery relative overflow-hidde">
  <div class="container-fluid px-0 py-50! md:py-0!">
    <div class="row">
      <div class="col-12">

        <div class="relative w-full md:h-screen d-flex items-center justify-center overflow-hidden enorganico-gallery__space">
          <div class="z-10 text-center max-w-[80%] md:max-w-[50%] enorganico-gallery__content">
            <h1 class="text-2xl enorganico-text-secondary enorganico-font-weight-blacked">Nuestra Historia</h1>
            <p class="mt-2 text-gray-700">En Enorganico, nos mueve un amor genuino por tres elementos: el café de especialidad, el helado artesanal y el matcha. Hemos fusionado la pasión con el espíritu emprendedor para crear un espacio donde la calidad y el sabor se encuentran. Cada producto es una muestra de nuestro compromiso por ofrecerte una experiencia inolvidable.</p>
            <a class="btn btn-primary mt-4" href="/about-us">Saber Mas</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const images = [
      "/web/image/26590-48012c3a/gallery-1.De961Kjz.webp",
      "/web/image/26592-a388652c/gallery-2.BQhaarW8.webp",
      "/web/image/26594-ffc8834d/gallery-3.BmrbLje7.webp",
      "/web/image/26591-c5c1c0e3/gallery-4.CuSTZNuZ.webp",
      "/web/image/26593-644f8488/gallery-5.BJ2c1B2C.webp",
      "/web/image/26589-4470b069/gallery-6.C0cvvKk6.webp",
    ];

    // Mezclar aleatoriamente
    images.sort(() => Math.random() - 0.5);
    const shuffled = images.slice(0, 7);

    const section = document.querySelector(".enorganico-gallery__space");

    shuffled.forEach((img, i) => {
      let top, left;
      do {
        top = Math.random() * 90;
        left = Math.random() * 90;
      } while (top > 0 && top < 70 && left > 30 && left < 70);

      const el = document.createElement("img");
      el.src = img;
      el.alt = `Gallery Image ${i + 1}`;
      el.className = "enorganico-gallery__image absolute max-w-[400px] max-h-[400px] object-cover object-center transition-all duration-500 d-block p-3 bg-white";
      el.style.top = `${top}%`;
      el.style.left = `${left}%`;

      section.appendChild(el);
    });
  });
</script>

<style lang="scss">
  .enorganico {
    &-gallery__content {  

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 150%;
        height: 150%;
        background-image: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 50%);
        border-radius: 15px;
        z-index: -1;
      }
    }
  }
</style>