---
import Carousel1 from './comps/Carousel-1.astro';
import bgCarouselProducts from 'src/assets/bg-carousel-products.png';
---

<section id="product-carosuel" class="bg-cover enorganico-carousel enorganic-product-carousel enorganico pt-5" style="background-image: url('https://cement-design.doodrix.com/web/image/26891-11f04389/carousel-1.webp');">
  <div class="container-fluid px-0 w-screen md:h-screen">
    <div class="row flex items-center justify-center w-full h-full">

      <div class="offset-md-1 offset-0 col-md-4 col-12 px-3 px-md-0 enorganico-product-carousel__content">
        <h2 class="text-base! md:text-2xl! block max-w-[100%] enorganico-text-secondary enorganico-font-weight-blacked m-auto">Nuestro Helado Artesanal</h2>
        <p class="mt-2 enorganico-text-darck w-md-50 text-start">Nuestro helado se elabora cada día con ingredientes 100% naturales, asegurando una textura cremosa y un sabor inigualable. Es un verdadero deleite para los sentidos.</p>
        <div class="enorganico-product-carosuel__content--button">
          <a href="/shop" class="btn btn-primary btn-large">Ver más</a>
        </div>
      </div>
      
      <div class="col-md-7 col-10 offset-1 offset-md-0 enorganico-product-carousel__carousel px-0 h-75 d-flex items-center">
        <Carousel1 />
      </div>

    </div>
  </div>
</section>