---
import linkOutline from '../../assets/link-out.svg';
---

<section id="post" class="enorganico enorganico-post w-full h-screen py-10">
  <div class="container-fluid px-0">
    <div class="row">
      <div class="offset-md-1 col-10">
        <h2 class="text-5xl! enorganico-text-secondary enorganico-font-weight-blacked w-250! m-auto pt-25! text-center uppercase">Latest Posts</h2>

        <ul class="enorganico-post__list d-flex flex-column mt-6 pt-25! ">
          
          <li class="enorganico-post__list--item">
            <a href="#" class="enorganico-post__list--item-link text-">
              <span>Guía definitiva: Cómo pedir tu café en España y acertar siempre</span>
              <img class="img img-fluid" src="https://cement-design.doodrix.com/web/image/26590-48012c3a/gallery-1.De961Kjz.webp" alt="gallery-image" />
            </a>            
          </li>
          <li class="enorganico-post__list--item">
            <a href="#" class="enorganico-post__list--item-link text-">
              <span>De la finca a tu taza: El viaje de los granos que usamos para nuestro café exprés.</span>
              <img class="img img-fluid" src="https://cement-design.doodrix.com/web/image/26592-a388652c/gallery-2.BQhaarW8.webp" alt="gallery-image" />
            </a>            
          </li>
          <li class="enorganico-post__list--item">
            <a href="#" class="enorganico-post__list--item-link text-">
              <span>Más allá del desayuno: 3 momentos del día perfectos para disfrutar de un buen espresso.</span>
              <img class="img img-fluid" src="https://cement-design.doodrix.com/web/image/26594-ffc8834d/gallery-3.BmrbLje7.webp" alt="gallery-image" />
            </a>            
          </li>
          <li class="enorganico-post__list--item">
            <a href="#" class="enorganico-post__list--item-link text-">
              <span>El arte del barista: 5 razones para tomar tu café en nuestra cafetería y no en casa.</span>
              <img class="img img-fluid" src="https://cement-design.doodrix.com/web/image/26591-c5c1c0e3/gallery-4.CuSTZNuZ.webp" alt="gallery-image" />
            </a>            
          </li>
          <li class="enorganico-post__list--item">
            <a href="#" class="enorganico-post__list--item-link text-">
              <span>Expresso y salud: Mitos y verdades sobre el café que (probablemente) no sabías.</span>
              <img class="img img-fluid" src="https://cement-design.doodrix.com/web/image/26593-644f8488/gallery-5.BJ2c1B2C.webp" alt="gallery-image" />
            </a>            
          </li>
          <li class="enorganico-post__list--item">
            <a href="#" class="enorganico-post__list--item-link text-">
              <span>¿Por qué el café de especialidad de tu barrio sabe mejor? El secreto detrás de nuestro espresso.</span>
              <img class="img img-fluid" src="https://cement-design.doodrix.com/web/image/26589-4470b069/gallery-6.C0cvvKk6.webp" alt="gallery-image" />
            </a>            
          </li>

        </ul>

      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .enorganico {
    &-post {
      &__list {
        &--item {
          border-top: 1px solid var(--enorganico-dark-color);

          &:last-child {
            border-bottom: 1px solid var(--enorganico-dark-color);
          }

          &-link {
            padding: 2rem 0;
            text-decoration: none;
            position: relative;
            display: block;
            color: var(--enorganico-secondary-color);
            font-weight: var(--enorganico-font-weight-medium);
            text-transform: uppercase;

            &::before {
              content: url(../../assets/link-out.svg);
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
              width: 25px;
              height: auto;
              opacity: 1;
              fill: var(--enorganico-secondary-color);
            }

            &:hover {
              img {
                position: absolute;
                left: 85%;
                height: 50%;
                transform: translate(-75%, -50%);
                opacity: 1;
                height: auto;
                min-height: 350px;
              }
            }

            img {
              opacity: 0;
              transition: ease-in-out 0.3s all;
              width: auto;
              max-width: 100%;
              min-width: 350px;
              height: 0;
              object-fit: cover;
              object-position: center;
              z-index: 999;

            }
          }
        }
      }
    }
  }
</style>